/* CSS DIRECTORY
  1. = GLOBAL
  2. = HOMEPAGE
  3. = SIDEBAR
  4. = GALLERY
  5. = ABOUT
  . = MOBILE
  . = ICON CLOSED
  . = ICON OPEN
  . = MOBILE GALLERY
  . = MOBILE ABOUT
*/

/* COLORS

*/

/* === GLOBAL === */

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial";
  margin: 0;
}

header {
  
}

nav {
}

footer {
  
}

h1 {

}

h2 {
	font-size: 1.5em;
	/*font-weight: normal;*/
	letter-spacing: 1px;
}

p {
  
}

/* === HOMEPAGE === */

.homepage-header {
	position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 64px;
}

.homepage-navigation {
	position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-navigation a {
	font-size: 1.7em;
	letter-spacing: 3px;
	text-decoration: none;
	color: #000000;
	margin: 0 16px;
}

.homepage-footer {
  position: absolute;
  bottom: 0;
  padding: 0 0 0 32px;
}

.title {
	text-transform: uppercase;
  font-size: 2.3em;
  letter-spacing: 4px;
  text-decoration: none;
  color: #000000;
}

/* === SIDEBAR === */

.sidebar-container {
	margin: 0;
	padding: 48px 24px;
  width: 400px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar-container .title {
  font-size: 2em;
  letter-spacing: 3px;
}

.sidebar-container .nav-icon {
	display: none;
	font-size: 1.9em;
	color: black;
}

.sidebar-navigation {
  padding: 32px 0 0 0;
}

.sidebar-navigation a {
	display: block;
	font-size: 1.1em;
	text-decoration: none;
	color : #000000;
	cursor: pointer;
	margin: 10px 0;
}

.sidebar-navigation a.active {
  text-shadow: 1px 1px #cccccc;
}

.sidebar-navigation a:hover:not(.active) {
	color: #cccccc;
}

.sub-sidebar {
	font-size: 0.9em;
	padding: 0 0 0 16px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

/* === GALLERY === */

.content-container {
	margin: 0 0 0 400px;
	height: 100%;
	display: inline-block;
}

/* === ABOUT === */

.text-container {
	margin: 64px 28px 64px 0px;
	max-width: 800px;
}

.text-container p {
	line-height: 1.4em;
}

/* === MOBILE ===*/

@media screen and (max-width: 800px) {

	/* === ICON CLOSED === */

	.sidebar-container {
	  padding: 24px 24px;
		width: 100%;
		min-width: 200px;
		height: auto;
		position: relative;
	}

	.sidebar-container a.nav-icon {
		float: right;
		display: block;
	}

	.sidebar-navigation {
		padding: 0;
	}

	.sidebar-navigation a {
		text-align: center;
		display: none;
	}

	.sub-sidebar {
		font-size: 0.8em;
	}

	/* === ICON OPEN === */

	.responsive {
		padding: 16px 0 0 0;
		border-bottom: 2px solid #b3b3b3;
	}

	.responsive a {
		display: block;
	}

	/* === MOBILE GALLERY === */

	.content-container {
		margin: 0;
	}

	/* === MOBILE ABOUT === */

	.text-container {
		margin: 16px 28px;
	}
}